{% if searchInput is defined %}
    <p>Search Input: {{ searchInput }}</p>
{% endif %}

{% if pr is defined %}
    <p>Pr: {{ pr }}</p>
{% endif %}
    
{% if books is defined %}
    <p>Pr: {{ books }}</p>
{% endif %}

{% if authors is defined %}
    <p>Pr: {{ authors }}</p>
{% endif %}

{% if users is defined %}
    <p>Pr: {{ users }}</p>
{% endif %}