<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="../public/favicon.ico" rel="icon" type="image/x-icon">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
            {% include "header.html.twig" %}

            <div class="container principal_div mx-auto align-middle">
                <div class="row">
                <div class="div-profils-actifs col-sm">
                    {% if activeProfiles is defined %}
                        <h2>Profils les plus actifs</h2>
                        {% for profileData in activeProfiles %}
                            {% set userEntity = profileData[0] %}
                            {% set critCount = profileData['critCount'] %}
                            {% if userEntity.roles[0] != "ROLE_ADMIN" %}
                            <div>
                                <a href="{{ path('app_utilisateur_show' , {'id': userEntity.id }) }}">{{ userEntity.pseudo }}</a>
                                {% if critCount is defined and critCount > 1 %}
                                <p>A écrit {{ critCount }} critiques.</p>
                                {% else %}
                                <p>A écrit {{ critCount }} critique.</p>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                </div>
                <div class="div-livres-genres col-sm">
                    {% if genre is defined and genre != null %}
                            <h2>Livre dans le genre : {{genre.libelle}}</h2>
                    {% endif %}
                    {% if genreBooks is defined %}
                        {% for book in genreBooks %}
                        <div>
                        <h2>{{ book.titre }}</h2>
                        {% if vich_uploader_asset(book, 'fichierImage') is null %}
                            <a href="{{ path('app_livre_show_search' , {'id': book.id }) }}"><img src="{{ asset('images/couverture/default.jpg') }}" style="width:20%;" alt="Couverture de livre par défaut" /></a>
                        {% else %}
                            <a href="{{ path('app_livre_show_search' , {'id': book.id }) }}"><img src="{{ vich_uploader_asset(book, 'fichierImage')}}" style="width:20%;" alt="Couverture de livre"></a>
                        {% endif %}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                </div>
                <div class="row">
                    <div class="div-livres-lotoflistes col-sm">
                        {% if listBooks is defined %}
                            <h2>Ces livres sont dans beaucoup de listes</h2>
                            {% for bookData in listBooks %}
                                {% set livreEntity = bookData[0] %}
                                {% set listCount = bookData['listCount'] %}
                                <div>
                                    <h2>{{ livreEntity.titre }}</h2>
                                    {% if vich_uploader_asset(livreEntity, 'fichierImage') is null %}
                                        <a href="{{ path('app_livre_show_search' , {'id': livreEntity.id }) }}">
                                            <img src="{{ asset('images/couverture/default.jpg') }}" style="width:20%;" alt="Couverture de livre par défaut" />
                                        </a>
                                    {% else %}
                                        <a href="{{ path('app_livre_show_search' , {'id': livreEntity.id }) }}">
                                            <img src="{{ vich_uploader_asset(livreEntity, 'fichierImage')}}" style="width:20%;" alt="Couverture de livre">
                                        </a>
                                    {% endif %}
                                    {% if listCount is defined and listCount > 1 %}
                                    <p>Dans {{ listCount }} listes</p>
                                    {% else %}
                                    <p>Dans {{ listCount }} liste</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% include "footer.html.twig" %}
        {% endblock %}
    </body>
</html>
