<header class="w-100 mb-5" style="background-color : #7f9bc7;">
    <div class="row">
        <div class="col-sm">
            <a href="{{ path('home') }}" class="btn col-sm text-uppercase fw-bold mb-4">La Biblio'Tech</a>
        </div>

        <div class="col-sm">
            <a href="{{ path('app_livre_index') }}" class="btn col-sm text-uppercase fw-bold mb-4">Catalogue</a>
        </div>

        <div class="col-sm text-uppercase fw-bold mb-4">
        {{ render(controller('App\\Controller\\HeaderController::recherche')) }}
        </div>

        {% if app.user %}
        <div class="mb-3 col-sm ">
            {% if vich_uploader_asset(app.user, 'fichierImage') is null %}
                <img src="{{ asset('images/photo_profil/default.jpg') }}" class='d-inline' alt="Photo d'utilisateur par défaut" /> 
            {% else %}
                <img src="{{ vich_uploader_asset(app.user, 'fichierImage')}}" style="width:50px;" class='d-inline' alt="Photo d'utilisateur">
            {% endif %}
            <a href="{{ path('app_profil') }}" class="btn rounded-pill btn-connexion px-3">{{ app.user.userIdentifier }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="link-dark">Gestion admin</a>
            {% endif %}
            <a href="{{ path('app_logout') }}" class="link-dark">Se déconnecter</a>
        </div>
        {% else %}
            <div class="col-sm"><a href="{{ path('app_login') }}" class="btn rounded-pill btn-connexion px-3">Se connecter</a></div>
        {% endif %}
        
    </div>
</header>