<header class="w-100 mb-5" style="background-color : #7f9bc7;">
    <div class="row">
        <a href="{{ path('home') }}" class="btn col-sm">La Biblio'Tech</a>

        <div class="col-sm">
        {{ render(controller('App\\Controller\\HeaderController::recherche')) }}
        </div>
        
        {% if app.user %}
        <div class="mb-3 col-sm">
            <a href="{{ path('app_profil') }}" class="btn rounded-pill btn-connexion px-3">{{ app.user.userIdentifier }}</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
        {% else %}
            <div class="col-sm"><a href="{{ path('app_login') }}" class="btn rounded-pill btn-connexion px-3">Connexion</a></div>
        {% endif %}
        
    </div>
</header>