{% extends 'base.html.twig' %}

{% block title %}Modifier {{livre.titre}}{% endblock %}

{% block body %}
    <h1>Modifier {{livre.titre}}</h1>

    {{ include('livre/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_livre_index') }}">Retourner au catalogue</a>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('livre/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
