{% extends 'base.html.twig' %}

{% block title %}{{livre.titre}}{% endblock %}

{% block body %}
{% include "header.html.twig" %}
    <h1>{{livre.titre}}</h1>

    <table class="table">
        <tbody>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th>Id</th>
                    <td>{{ livre.id }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Couverture</th>
                <td>
                {% if vich_uploader_asset(livre, 'fichierImage') is null %}
                    <img src="{{ asset('images/couverture/default.jpg') }}" alt="Couverture de livre par défaut" /> 
                {% else %}
                    <img src="{{ vich_uploader_asset(livre, 'fichierImage')}}" style="width:20%;" alt="Couverture de livre">
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Auteur(s)</th>
                <td>
                {% for auteur in livre.idAuteur %}
                    {{ auteur.nom }} {{auteur.prenom }}
                    <br>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ livre.idGenre ? livre.idGenre.libelle : 'Genre non renseigné' }}</td>
            </tr>
            <tr>
                <th>Editeur</th>
                 <td>{{ livre.idEditeur ? livre.idEditeur.nomEditeur : 'Editeur inconnu' }}</td>
            </tr>  
            <tr>
                <th>Nombre de pages</th>
                <td>{{ livre.nbPages }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>Critiques</h2>
    <table class="table">
        <tbody>
            {% for critique in critiques %}
                <tr>
                    <th>Critique de {{ critique['pseudoUtilisateur'] }}</th>
                    <td>
                    <p>{{ critique[0].commentaire }}
                    <p>{{ critique[0].note }}/5</p>
                    </td>
                </tr>
            {% else %}
                Pas de critiques trouvées
            {% endfor %}
        </tbody>
    </table>

 {% if app.user %}
    {% if route != 'app_livre_show_add' %}
        <a href="{{ path('app_livre_show_add', {'id': livre.id}) }}" class="btn btn-info">Ajouter une critique</a>
    {% endif %}
{% endif %}
{% if route == 'app_livre_show_add' %}

    {{ form_start(form, {'action': path('app_livre_show_add_confirm', {'id': livre.id, 'user': app.user.userIdentifier })}) }}
    {{ form_row(form.contenu) }}
    {{ form_row(form.note) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    
{% endif %}
    <br>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_livre_edit', {'id': livre.id}) }}" class="btn">Modifier le livre</a>
        {{ include('livre/_delete_form.html.twig') }}
    {% endif %}
    {% if route == 'app_livre_showv' %}
        <a href="{{ path('app_livre_valider') }}">Retourner au catalogue de validation</a>
    {% else %}
        
        {% if route not in ['app_livre_show_search','app_livre_show_add_confirm','app_livre_show_add'] %}
            <a href="{{ path('app_livre_index') }}">Retourner au catalogue</a>
        {% endif %}
    {% endif %}
    {% include "footer.html.twig" %}
{% endblock %}
