{% extends 'base.html.twig' %}

{% block title %}Profil {{utilisateur.pseudo}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


{% if vich_uploader_asset(utilisateur, 'fichierImage') is null %}
    <img src="{{ asset('images/photo_profil/default.jpg') }}" alt="Photo d'utilisateur par défaut" /> 
{% else %}
    <img src="{{ vich_uploader_asset(utilisateur, 'fichierImage')}}" style="width:100px;" alt="Photo d'utilisateur">
{% endif %}
<h2>{{utilisateur.pseudo}}</h2>


<a href="{{ path('liste_formulaire') }}" class="btn btn-info">Créer une liste</a>


{% endblock %}
