{% extends 'base.html.twig' %}

{% block title %}Profil {{utilisateur.pseudo}}{% endblock %}

{% block body %}
{% include "header.html.twig" %}
<div class="ps-3">
{% if vich_uploader_asset(utilisateur, 'fichierImage') is null %}
    <img src="{{ asset('images/photo_profil/default.jpg') }}" class='d-inline' alt="Photo d'utilisateur par défaut" /> 
{% else %}
    <img src="{{ vich_uploader_asset(utilisateur, 'fichierImage')}}" style="width:150px;" class='d-inline' alt="Photo d'utilisateur">
{% endif %}
<h2 class='d-inline'>{{utilisateur.pseudo}}</h2>

<br>
<h3 class='d-inline'>Listes</h3>
{% if app.user != null %}
    {% if utilisateur.pseudo == app.user.userIdentifier %}
        <a href="{{ path('create_list', {'id': utilisateur.id}) }}" class="btn btn-info">Créer une liste</a>
    {% endif %}
{% endif %}
<div class="row">
    {% for liste in listes %}
        <div class="col-2">
            {% if app.user != null %}
                {% if utilisateur.pseudo == app.user.userIdentifier %}
                    <a href="{{ path('app_liste_show_profil', {'id': liste.id}) }}">{{ liste.nomListe }}</a>
                    <br>
                {% else %}
                    <a href="{{ path('app_liste_show_user', {'id': liste.id}) }}">{{ liste.nomListe }}</a>
                    <br>
                {% endif %}
            {% endif %}
            <ul>
                {% for livre in liste.idLivre %}
                    <li>{{ livre.titre }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
</div>
{% include "footer.html.twig" %}
{% endblock %}
