{% extends 'base.html.twig' %}

{% block title %}Profil {{utilisateur.pseudo}}{% endblock %}

{% block body %}
{% include "header.html.twig" %}

{% if vich_uploader_asset(utilisateur, 'fichierImage') is null %}
    <img src="{{ asset('images/photo_profil/default.jpg') }}" alt="Photo d'utilisateur par défaut" /> 
{% else %}
    <img src="{{ vich_uploader_asset(utilisateur, 'fichierImage')}}" style="width:100px;" alt="Photo d'utilisateur">
{% endif %}

<h2>{{utilisateur.pseudo}}</h2>

{% if app.user != null %}
    {% if utilisateur.pseudo == app.user.userIdentifier %}
        <a href="{{ path('create_list', {'id': utilisateur.id}) }}" class="btn btn-info">Créer une liste</a>
    {% endif %}
{% endif %}

{% for liste in listes %}
    <br>
    {{ liste.nomListe }}
{% endfor %}

{% endblock %}
